{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Zip Code: {{logged_in_employee.zip_code }}<br />
        Today's date is: {{today}}
        <br />
        <br />
        <h2> Todays weekly/onetime pickups:</h2>
         {% for customers in weekly_or_onetimes %}  
          <br/>
          <table>
            <tr>
              <p><th> Name </th></p>
              <p><th>  Address </th></p>
              <p><th> Confirmation </th></p>
            </tr>
            <tr>
              <td>{{ customers.name }}</td>
              <td>{{ customers.address }}</td>
              <td>
                <a href ="{% url 'employees:confirm_pickup' customers.id %}">
                  <button type="button" class="btn btn-outline-primary" onclick="alert('Pickup Confirmed! A $20 charge has been added to this customer.')"> Confirm Pickup </button>
                </a>
              </td>
            </tr>
          </table>
        <br />

       {% endfor %}
        
        
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}"> Log In </a>
    <a href=" {% url 'accounts:register' %}"> Sign Up </a>
  {% endif %}
{% endblock %}