{% extends 'customers\customer_base.html' %}

{% block title %} Customer Home {% endblock %}

{% block header %} Customer Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Zip Code: {{logged_in_employee.zip_code }}<br />
        <br />
        <br />
        Todays scheduled Pickup: {{ logged_in_employee.todays_weekly_pickup }}
        <br />
        <br />
        You have an extra pickup scheduled for: {{ logged_in_employee.todays_onetime_pickup }}
        <br />
        <br />
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}